.title {
  text-align: center;
  margin-inline: auto;
}

.wrapper {
  @apply items-start flex flex-col overflow-auto max-h-screen;
}

.data-table {
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.total-table {
  flex-shrink: 0;
}
